<HTML>
<head>
<title>Kelsie Brown || ITC230 || Details Page</title>
</head>

<body>
    <h1>Kelsie Brown</h1>
    <h2>ITC230 - Summer 2018</h2>

    <h3>Details for {{title}}</h3>
    
    
    {{#if found}}
        <ul>
            <li>Title: {{found.title}}</li>
            <li>Artist: {{found.artist}}</li>
            <li>Price: {{found.price}} </li>
        </ul>
    
        <p><a href="/delete?title={{found.title}}">Delete Album</a></p>
    
    {{else}}
        <p><b>Sorry, {{title}} was not found.</b></p>
    {{/if}}
    
    <hr>
    
    <a href="/">Return Home</a>
</body>
</HTML>
